django
django-heroku
gunicorn
psycopg2-binary
asgiref
certifi
charset-normalizer
cx-Freeze
dj-database-url
Django
django-heroku
gunicorn
idna
lief
numpy
optional-django
packaging
pandas
Pillow
psycopg2
python-dateutil
pytz
requests
six
sqlparse
tabulate
typing_extensions
tzdata
urllib3
whitenoise