django==2.2.13
django-heroku
gunicorn==19.9.0
psycopg2
asgiref==3.7.2
certifi==2023.11.17
charset-normalizer==3.3.2
cx-Freeze @ file:///D:/Python%20App%20Text%20Editior/cx_Freeze-6.11.1-cp310-cp310-win_amd64.whl#sha256=b10a7025e01e512ee5fb14bc747312fa0ae57d53da70cf03c3e0eb67c129b83c
dj-database-url==0.5.0
Django==2.2.13
django-heroku==0.3.1
gunicorn==19.9.0
idna==3.6
lief==0.13.2
numpy==1.23.4
optional-django==0.3.0
packaging==23.2
pandas==1.5.1
Pillow==10.1.0
psycopg2==2.9.9
python-dateutil==2.8.2
pytz==2022.6
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
tabulate==0.9.0
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.1.0
whitenoise==6.6.0